# Python
*.pyc
*.pyo
*.egg-info
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
tags

# Node
node_modules/
npm-debug.log
yarn-error.log

# Frappe/ERPNext
*.log
sites/
build/
dist/